<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= htmlWebpackPlugin.options.context.meta %>
        <%= htmlWebpackPlugin.options.context.title %>
    </head>
    <body>
        <%= htmlWebpackPlugin.options.context.body %>
        <%= htmlWebpackPlugin.options.context.__INITIAL_STATE__ %>
    </body>
</html>
